<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-1.12.3.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <title>TO DO</title>
  </head>
  <body>
    <h2>TO DO LIST!</h2>
    <input type="text" id="toDo" name="toDo" value="" placeholder="To Do List">
    <button type="button" id="addToDo" name="addToDo">Add To Do</button>
    <button type="button" id="rButton" name="rButton">Refresh</button>
    <div id="displayDiv"></div>
  </body>
</html>
